@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  /*   <<<   отступы безопасности боковые от слипания */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* HEADER ================================================================ */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  /*минимальная высота шапки из макета*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}
.header__logo {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #252b42;
}

.header__menu {
  margin: 0 0 0 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}
.menu {
  padding: 5px 0;
  /*   <<<   отступы безопасности нижний и верхний от слипания на маленьких экранах*/
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}

.menu__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}
.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
/* MAIN ================================================================ */
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  /* позволяет главному блоку (расширяться и сужаться) занять всю область страницы между хедером и футером */
  background: #fafafa;
}

.page__services {
  margin: -111px 0 0 0;
  position: relative;
  z-index: 2;
}

.page__clients {
  margin: 0 0 10px 0;
}

/* HEADER-BLOCK ================================================================ */
.header-block {
  text-align: center;
}

.header-block__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
}
.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}
.header-block__sub-title {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

/* PAGE MAIN-BLOCK
============================================================ */
.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
.main-block__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0 191px 0;
  }
}
@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0 160px 0;
  }
}
.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252b42;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}
.main-block__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 479px) {
  .main-block__text {
    color: #585858;
  }
}
.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 37px;
  padding: 10px 36px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin: 10px 0;
}

@media (max-width: 479px) {
  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
.main-block__button_orange {
  background: #ff7b47;
  color: #ffffff;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.main-block__button_orange:hover {
  background: #ffffff;
  color: #ff7b47;
}

.main-block__button_border {
  border: 1px solid #0d5c63;
  color: #0d5c63;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.main-block__button_border:hover {
  background-color: #0d5c63;
  color: #fff;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}
/* PAGE SERVICES ================================================================ */
@media (min-width: 670px) {
  .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
  }
}
.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (min-width: 670px) {
  .services__column {
    padding: 0 15px;
  }
}
@media (max-width: 992px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .services__column:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .services__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.services__item {
  height: 100%;
  padding: 35px 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

@media (max-width: 479px) {
  .services__item {
    padding: 25px;
  }
}
.item-service_green {
  background: #0d5c63;
}

.item-service_green .item-service__title {
  color: #fff;
}

.item-service_green .item-service__text {
  color: #fff;
}

.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252b42;
}

.item-service__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

/* PAGE ADVANTAGES ================================================================ */
.advantages {
  margin: 80px 0;
}

@media (max-width: 992px) {
  .advantages {
    margin: 50px 0;
  }
}
@media (max-width: 767px) {
  .advantages {
    margin: 30px 0;
  }
}
.advantages__header {
  margin: 0 0 50px 0;
}

@media (max-width: 767px) {
  .advantages__header {
    margin: 0 0 50px 0;
  }
}
.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 0 30px 0;
  padding: 0 15px;
}

@media (max-width: 1020px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 560px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.advantages__item {
  background-color: #ffffff;
  text-align: center;
  padding: 30px 0;
  height: 100%;
}
.advantages__item > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.advantages__value {
  font-weight: bold;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
}

.advantages__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}

/* PAGE PRACTICE ================================================================ */
.practice {
  margin: 125px 0 80px 0;
}

@media (max-width: 993px) {
  .practice {
    margin: 40px 0 80px 0;
  }
}
@media (max-width: 767px) {
  .practice {
    margin: 0px 0 40px 0;
  }
}
.practice__header {
  margin: 0 0 45px 0;
}

@media (max-width: 767px) {
  .practice__header {
    margin: 0 0 25px 0;
  }
}
.practice__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px -30px;
}

.practice__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 20px;
  margin: 0 0 30px 0;
}

@media (max-width: 1040px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 630px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.practice__item {
  background: #ffffff;
}

.item-practice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.item-practice__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
  padding: 30px 30px 15px;
}
.item-practice__title:hover {
  text-decoration: underline;
}

.item-practice__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
  padding: 0 30px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-practice__image {
  display: block;
  padding: 0 0 60% 0;
}

/* PAGE WHOWEARE ================================================================ */
.whoweare {
  padding: 80px 0 100px;
  background-color: #fff;
}

.whoweare__header {
  margin: 0 0 100px 0;
}

.whoweare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.whoweare__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.whoweare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 0 120px;
}

.whoweare__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
  margin: 0 0 10px 0;
}

.whoweare__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.whoweare__items {
  padding: 50px 0 0 0;
}

.item-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-whoweare:not(:last-child) {
  margin: 0 0 30px 0;
}

.item-whoweare__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  margin: 0 20px 0 0;
}

.item-whoweare__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-whoweare__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
}
.item-whoweare__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.item-whoweare__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
  white-space: nowrap;
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1080px) {
  .whoweare__content {
    margin: 0 0 0 50px;
  }
}
@media (max-width: 950px) {
  .whoweare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .whoweare__title {
    font-size: 25px;
  }

  .whoweare {
    padding: 50px 0 50px 0;
  }

  .whoweare__content {
    padding: 0 0 0 0;
  }

  .whoweare__content {
    margin: 0 0 50px 0;
  }

  .whoweare__header {
    margin: 0 0 30px 0;
  }

  .whoweare__video {
    padding: 0 0 56.25% 0;
  }
}
@media (max-width: 767px) {
  .whoweare {
    margin: 0 0 50px 0;
  }
}
/* PAGE CLIENTS ================================================================ */
.clients {
  padding: 50px 0 50px 0;
}

@media (max-width: 767px) {
  .clients {
    padding: 30px 0 30px 0;
  }
}
.clents__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clents__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
  text-align: center;
  padding: 8px 15px;
  min-width: 140px;
}
.clents__item img {
  max-width: 100%;
}

/* PAGE SUBSCRIBE ================================================================ */
.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}
.subscribe:after {
  content: "";
  background: #252b42;
  position: absolute;
  height: 77px;
  width: 100%;
  left: 0px;
  bottom: 0;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 30px 40px 30px 50px;
  background: #17213c;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0 32px;
  }
}
.subscribe__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #ffffff;
}

@media (max-width: 810px) {
  .subscribe__title {
    padding: 0 0 20px 0;
  }

  .subscribe__body {
    margin: 0 -15px;
    padding: 20px 25px;
  }
}
@media (min-width: 810px) {
  .subscribe__title {
    max-width: 266px;
  }

  .subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 58px;
  padding: 0 20px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border-right: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  padding: 0 22px;
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 58px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  -webkit-transition: all 1s linear 0s;
  transition: all 1s linear 0s;
}
.subscribe__button:hover {
  background-color: #bd5c35;
}

@media (max-width: 810px) {
  .subscribe__button {
    padding: 0 15px;
  }

  .subscribe__input {
    padding: 0 15px;
  }
}
/* PAGE GETINTOUCH ================================================================ */
.getintouch {
  padding: 80px 0 148px 0;
}

.getintouch__header {
  padding: 0 0 80px 0;
}

@media (min-width: 992px) {
  .getintouch__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 32px;
  }
}
@media (max-width: 992px) {
  .getintouch__header {
    padding: 0 0 50px 0;
  }

  .getintouch {
    padding: 50px 0 50px 0;
  }
}
@media (max-width: 767px) {
  .getintouch__header {
    padding: 0 0 30px 0;
  }

  .getintouch {
    padding: 30px 0 30px 0;
  }
}
.getintouch__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.item-getintouch {
  padding: 50px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.item-getintouch > *:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-getintouch_active {
  background: #252b42;
  padding: 80px 40px;
}
.item-getintouch_active .item-getintouch__label {
  color: #fff;
}
.item-getintouch_active .item-getintouch__emails a {
  color: #fff;
}
.item-getintouch_active .item-getintouch__button {
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #ffffff;
}
.item-getintouch_active .item-getintouch__button:hover {
  background-color: #ffffff;
  color: #ff7b47;
}

.item-getintouch__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-getintouch__email {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}
.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch__label {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}

.item-getintouch__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ff7b47;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  min-height: 44px;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-getintouch__button:hover {
  background-color: #ff7b47;
  color: #fff;
}

/* PAGE CONTACT ================================================================ */
.contact {
  padding: 40px 0;
  background-color: #fff;
}

.contact__content {
  padding: 0 20px 20px 0;
}

@media (min-width: 767px) {
  .contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contact__content {
    padding: 0 20px 0 0;
  }
}
.contact__title {
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252b42;
}

.contact__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.contact__button {
  margin: 0 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 15px 40px;
  background: #ff7b47;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #ffffff;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.contact__button:hover {
  background: #fff;
  color: #ff7b47;
  border: 1px solid #ff7b47;
}

/* FOOTER ================================================================ */
.footer__top {
  background: #17213c;
  padding: 40px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__column {
  padding: 15px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.667%;
          flex: 0 1 16.667%;
}
.footer__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.334%;
          flex: 0 1 33.334%;
}

@media (max-width: 992px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .footer__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 700px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.footer__label {
  color: #fff;
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.menu-footer__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.menu-footer__item:not(:last-child) {
  margin: 0 0 10px 0;
}
.menu-footer__item:hover {
  text-decoration: underline;
}

.menu-footer__link {
  color: #fff;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.contacts-footer > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.contacts-footer__item {
  color: #fff;
  padding: 0 0 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
}
.contacts-footer__item:hover {
  text-decoration: underline;
}

.contacts-footer__item_phone {
  background: url("../../img/footer/bx_bx-phone.svg") no-repeat left;
}

.contacts-footer__item_map {
  background: url("../../img/footer/bx_bx-map.svg") no-repeat left;
}

.contacts-footer__item_email {
  background: url("../../img/footer/carbon_send-alt.svg") no-repeat left;
}

.footer__bottom {
  padding: 25px 0;
}

@media (min-width: 767px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__social {
  padding: 0 40px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:not(:last-child) {
  margin: 0 20px 0 0;
}